name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.11.1'
      - run: npm ci
      - run: npm run build
      - name: Start Infrastructure
        run: docker compose up --build -d
      - name: Wait for DB & Redis
        run: sleep 15
      - name: Run Dockerized Tests
        run: npm run test:docker
      - name: CI Cleanup
        if: always()
        run: docker compose down
